/*** FONTS ***/

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

/*** TAGS ***/

a, b, body, button, h1, h2, h3, h4, i, input, p, select, textarea {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}