# ignore the entire .vscode folder by default
.vscode/*

# allow specific configuration files to be tracked? (not needed for this repo)
# !.vscode/extensions.json
# !.vscode/launch.json
# !.vscode/tasks.json
# !.vscode/settings.json

# files for testing code
testing/
*.wav